<%- include('templates/header.ejs') %>
  
  <main>
    <nav>
      <ul>
        <li><a>Home</a></li>
        <li><a href="/logged">Log in</a></li>
        
      </ul>
    </nav>
  </main>

  <%- include('templates/footer.ejs') %>